body {
    background-image: url('D:/BSIT - 3rd Year/1st Sem/System Integration/EnerTrackHub/html/images/bg2.jpg');
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 80px 0 0;
    font-family: Inter, sans-serif;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    position: relative;
}

/* css for header */
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 53px;
    position: absolute;
}

.logo-container h1 {
    color: #fff;
}

.nav ul li, .user-actions a {
    color: #fff;
}

.user-actions .search-icon {
    color: #fff;
}

header div {
    display: flex;
    align-items: center;
}

header img {
    max-width: 100px;
    height: auto;
}

header h1 {
    color: #63D168;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.38px;
    margin-left: 10px;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.searchicon {
    cursor: pointer;
}

.nav ul li {
    margin-right: 70px;
    cursor: pointer;
}

.nav a {
    border-radius: 8px;
    color: #fff;
    display: flex;
    height: 33px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login {
    background: #63D168;
    border: 1px solid #63D168;
}

.nav a:hover {
    background-color: #000;
    color: #fff;
}

/* css for text or content sa gitna */
p {
    margin-top: 6%;
    color: #fff;
    margin-left: 10%;
}

.h, .hh {
    margin-top: 5%;
    letter-spacing: 3px;
    margin-left: 10%;
    color: #fff;
}

.h {
    font-size: 80px;
}

.p {
    margin-left: 10%;
    margin-bottom: 20%;
}

.hh {
    font-size: 55px;
}

/* css for main-container (images) */
.main-container {
    display: flex;
    padding: 20px;
    background-color: #fff
}
.Favorites-text {
    margin-top: 3%;
    margin-bottom: 10%;
    color: #000;
    font-weight: bold;
}
.choices {
    margin-top: 5%;
    width: 25%;
}

.favorites-images {
    width: 75%;
    padding: 20px;
}
.favs-img {
    display: flex;
    gap: 10px;
    
}
.image-container {
    background-color: #63D168;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 25rem;
    height: 25rem;
    margin-bottom: 15rem;
}

.image-container p, img {
    border-radius: 10px;
    color: #000;
}
.favorites-images img {
    width: 270px;
    height: 300px;
}
.choices ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.choice {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fff;
}

.choice a {
    text-decoration: none;
    color: #000;
}

.choice.clicked {
    background-color: #63D168;
}
#profile i {
    color: #63D168; /* Set the color for the Profile icon */
    margin-right: 5px;
}

#favorites i {
    color: red; /* Set the color for the heart icon */
    margin-right: 5px; 
}

/* css for footer */
.italic {
    font-style: italic;
}

.wattWise {
    margin-top: -10%;
    margin-left: 25%;
}
.footer {
    background: #63D168;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
h2 {
    font-size: 1.2em;
    color: #fff;
}

p {
    margin: 5px 0;
}

.copyright {
    text-align: center;
    background: #63D168;
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .section a i.fab,
.footer .section a i.fas {
    color: black;
    font-size: 20px;
}


/* for responsiveness */
@media only screen and (min-width: 600px) {
    
    .footer .section a i.fab,
    .footer .section a i.fas {
        font-size: 25px;
    }
    header {
        padding: 15px;
    }

    header img {
        max-width: 80px;
    }

    header h1 {
        font-size: 16px;
        margin-left: 5px;
    }

    .h {
        font-size: 40px;
    }

    .hh {
        font-size: 30px;
    }

    .nav ul li {
        margin-right: 20px;
    }

    .nav a {
        padding: 5px 10px;
    }
    h1 {
        font-size: 30px;
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .footer .section a i.fab,
    .footer .section a i.fas {
        font-size: 30px;
    }
    header img {
        max-width: 90px;
    }

    .nav ul li {
        margin-right: 40px;
    }
    .footer {
        grid-template-columns: repeat(5, 1fr);
    }
}