body {
    margin: 0;
}
.navbar {
    position: absolute;
    overflow: hidden;
    top: 3%;
    right: 2%;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 40px;

}

.navbar a:hover {
    background-color: #ddd;
}

.row {

}

img {
    position: relative;
}

.topimg {
    position: relative;
}

.topcontent1 {
    position: absolute;
    font-size: large;
    color: white;
    left: 5%;
    top: 25%;
    font-size: 200px;
    font-family: monospace;
    font-weight: bold;
}

.topcontent2 {
    position: absolute;
    font-size: large;
    color: white;
    left: 5%;
    top: 50%;
    font-size: 150px;
    font-family: monospace;
}

.topcontent3 {
    position: absolute;
    font-size: large;
    color: white;
    left: 5%;
    top: 70%;
    font-size: 40px;
    font-family: monospace;
}

.gridCat {

}

.catCont1 {

}

.catCont2 {

}

.catCont3 {

}

.gridRecentArticles {
    
}

.Login {
    float: right;
    background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 200px;
}
