body {
    margin: 0;
    background-color: white;
}

.navbar {
    position: absolute;
    overflow: hidden;
    top: 4%;
    right: 2%;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 30px;

}

.navbar a:hover {
    background-color: #ddd;
}

.logoname {
    position: absolute;
    margin-left: 13vh;
    margin-top: 4vh;
    color: white;
    font-size: 50px;

}

img {
    position: absolute;
}

.logo {
    width: 12vh;
    margin-left: 2vh;
    margin-top: 2vh;
}

.topbackground {
    width: 100%;
    height: 90%;
}


.topimg {
    position: relative;
}

.topcontent1 {
    position: absolute;
    font-size: large;
    color: white;
    left: 4vh;
    top: 25vh;
    font-size: 180px;
    font-family: monospace;
    font-weight: bold;
}

.topcontent2 {
    position: absolute;
    font-size: large;
    color: white;
    left: 5vh;
    top: 42vh;
    font-size: 80px;
    font-family: monospace;
}

.topcontent3 {
    position: absolute;
    font-size: large;
    color: white;
    left: 5vh;
    top: 54vh;
    font-size: 40px;
    font-family: monospace;
}

.RnI {
    position: absolute;
    color: black;
    font-size: 80px;
    margin-left: 66vh;
    margin-top: 110vh;
}

.RnIContent {
    position: absolute;
    color: black;
    font-size: 50px;
    text-align: center;
    margin-left: 20vh;
    margin-top: 120vh;
    margin-right: 20vh;
}

.catCont1 {
    position: absolute;
    margin-top: 160vh;
    margin-left: 10vh;
    height: 80vh;
    width: 43vh;
}

.catCont1img {
    height: 80vh;
    width: 50vh;
}

.cC1Title {
    position: relative;
    color: white;
    top: 65%;
    left: 5%;
    font-size: 80px;
    
}

.cC1Context {
    position: relative;
    color: white;
    top: 67%;
    left: 5%;
    font-size: 40px;
    
}

.catCont2 {
    position: absolute;
    margin-top: 160vh;
    margin-left: 70vh;
    height: 80vh;
    width: 43vh;
}

.catCont2img {
    height: 80vh;
    width: 50vh;
}

.cC2Title {
    position: relative;
    color: white;
    top: 65%;
    left: 5%;
    font-size: 80px;
    
}

.cC2Context {
    position: relative;
    color: white;
    top: 67%;
    left: 5%;
    font-size: 40px;
    
}

.catCont3 {
    position: absolute;
    margin-top: 160vh;
    margin-left: 130vh;
    height: 80vh;
    width: 43vh;
}

.catCont3img {
    height: 80vh;
    width: 50vh;
}

.cC3Title {
    position: relative;
    color: white;
    top: 65%;
    left: 5%;
    font-size: 80px;
    
}

.cC3Context {
    position: relative;
    color: white;
    top: 67%;
    left: 5%;
    font-size: 40px;
    
}

.RecentArticles {
    position: absolute;
    left: 20vh;
    top: 270vh;
    color: black;
    font-size: 80px;
}

.raGrid {
    position: absolute;
    display: grid;
    grid-template-columns: 580px 580px 580px ;
    grid-template-rows: 1000px 1000px 1000px;
    gap: 3vh;
    padding: 10px;
    top: 290vh;
    left: 26.5vh;
}

.raGrid > div.ra {
    width: 40vh;
    height: 70vh;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.raGrid > div.ra a {
    text-decoration: none;
}

.ra1Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.ra1Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra1img {
    width: 40vh;
}

.ra2Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra2Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra2img {
    width: 40vh;
}

.ra3Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra3Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra3img {
    width: 40vh;
    height: 28.5vh;
}

.ra4Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra4Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra4img {
    width: 40vh;
    height: 28.5vh;
}

.ra5Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra5Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra5img {
    width: 40vh;
    height: 28.5vh;
}

.ra6Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra6Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra6img {
    width: 40vh;
    height: 28.5vh;
}

.ra7Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra7Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra7img {
    width: 40vh;
    height: 28.5vh;
}

.ra8Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra8Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra8img {
    width: 40vh;
    height: 28.5vh;
}

.ra9Title {
    position: relative;
    top: 30vh;
    color: black;
    font-size: 30px;
    font-size: 40px;
    font-weight: bold;
}

.ra9Content {
    position: relative;
    width: 40vh;
    top: 35vh;
    color: black;
    font-size: 30px;
}

.ra9img {
    width: 40vh;
    height: 28.5vh;
}

.Login {
    float: right;
    background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
}

.foot {
    position: absolute;
    background-color: #63D168;
    height: 25%;
    width: 100%;
    bottom: -450%;
}

.foot a {
    position: relative;
    font-size: 30px;
    display: block;
    margin-left: 15%;
    margin-top: 1%;
}

.foot img {
    margin: 3.45%;
}