/* General */
body {
    margin: 0;
    background-color: white;
}

img {
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

/* Navigation bar */
.navbar {
    position: absolute;
    overflow: hidden;
    top: 4%;
    right: 2%;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 30px;
    
}

.navbar a:hover {
    background-color: #ddd;
}

.search {
    float: right;
    margin-top: 0.3%;
    width: 20%;
    font-size:  33px;
    border-radius: 10px;
    background: none;
    margin-top: 0.5%;
    margin-right: 0.5%;
}

.bsearch {
    float: right;
    margin-top: 0.3%;
    background: none;
    border: none;
    cursor: pointer;
}

.Login {
    float: right;
    background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    margin-top: 0.3%;
    margin-right: 2%;
}

.logoname {
    width: calc(100% / 12*1.4);
    position: absolute;
    margin-left: 13vh;
    margin-top: 4vh;
    color: white;
    font-size: 50px;

}

/* Top images */
.logo {
    width: calc(100% / 12*0.77);
    margin: 1%;
}

.topbackground {
    width: calc(100% / 12*12);
    height: 90%;
}

/* Top content */
.TopConts {
    position: absolute;
    width: calc(100% / 12*5.8);
    top: 25%;
    left: 3%;
}

.topcontent1 {
    position: relative;
    font-size: large;
    color: white;
    font-size: 180px;
    font-family: monospace;
    font-weight: bold;
}

.topcontent2 {
    position: relative;
    font-size: large;
    color: white;
    font-size: 80px;
    font-family: monospace;
    margin-top: 5%;
}

.topcontent3 {
    position: relative;
    font-size: large;
    color: white;
    font-size: 30px;
    font-family: monospace;
    margin-top: 5%;
}

/* Resources and Insights */

.RnICont {
    position: absolute;
    width: calc(100% / 12*8);
    text-align: center;
    top: 113%;
    left: 16%;
}

.RnI {
    position: relative;
    color: black;
    font-size: 80px;
}

.RnIContent {
    position: relative;
    color: black;
    font-size: 50px;
}

/* 3 Categories and Content */
.MotherCont {
    position: absolute;
    width: calc(100% / 12*12);
    top: 160%;
}

.row .catCont {
    position: relative;
    width: 26.6%;
    margin-left: 4.5%;
}

.row .catContimg {
    height: 111%;
    width: 100%;
}

.row .cCTitle {
    position: relative;
    color: white;
    margin-top: 105%;
    margin-left: 5%;
    font-size: 80px;
    
}

.row .cCContext {
    position: relative;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 40px;
    
}

                                                                /* Articles */

.RecentsArticles {
    position: absolute;
    width: calc(100% / 12*12);
    top: 280%;
}

.raTitle {
    position: relative;
    color: black;
    font-size: 80px;
    margin-left: 5%;
}

.raGrid {
    position: relative;
    display: grid;
    grid-template-columns: 27.2% 27.2% 27.2% ;
    grid-template-rows: 70vh 70vh 70vh;
    gap: 3%;
    padding: 10px;
    margin-left: 12%;
    margin-top: 5%;
}

.raGrid > div.ra {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.raGrid > div.ra a {
    text-decoration: none;
}

.ra .Title {
    position: relative;
    top: 3%;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.ra .Content {
    position: relative;
    top: 5%;
    color: black;
    font-size: 30px;
}

.ra img {
    position: relative;
    width: 100%;
    height: 43.4%;
}

/* Footer */
.foot {
    position: absolute;
    width: calc(100% / 12*12);
    position: absolute;
    background-color: #63D168;
    height: 25%;
    bottom: -450%;
}

/* CompanyTag */
.CompanyTag {
    width: calc(100% / 12*1.2);
    margin-top: 4%;
    margin-left: 4%;
    text-align: center;
}

.CompanyTag .name {
    position: relative;
    margin-top: 0%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.CompanyTag .moto {
    position: relative;
    margin-top: 1%;
    font-size: 20px;
    color: white;
}

.CompanyTag img {
    position: relative;
    width: 50%;
}

/* Page Container */
.PageContainer {
    position: relative;
    width: calc(100% / 12*1);
    margin-top: 3%;
    margin-left: 9%;
}

.PageContainer .pages {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.PageContainer .pHome {
    position: relative;
    font-size: 25px;
    color: white;
}

.PageContainer .pArticle {
    position: relative;
    font-size: 25px;
    color: white;
}

.PageContainer .pTools {
    position: relative;
    font-size: 25px;
    color: white;
}

.PageContainer .pGuide {
    position: relative;
    margin-left: 14%;
    font-size: 25px;
    color: white;
}

.PageContainer .pAboutUs {
    position: relative;
    margin-left: 10%;
    font-size: 25px;
    color: white;
}

.PageContainer .pContactUs {
    position: relative;
    margin-left: 16%;
    font-size: 25px;
    color: white;
}

/* Short Articles */
.ShortArticles {
   position: relative; 
   margin-top: 3%;
   margin-left: 9%;
}

.ShortArticles .latestArticles {
    position: relative;
    color: white;
    font-size:  25px;
    font-weight: bold;
    text-decoration: underline;
}

.ShortArticles .la1 {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 10%;
}

.ShortArticles .la2 {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

.ShortArticles .la3 {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

/* Social Media Platforms */
.smp {
    position: relative;
    width: calc(100% / 12*1);
    margin-top: 3%;
    margin-left: 9%;
}

.socials {
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.smp img {
    position: relative;
    width: 20%;
    margin-top: 10%;
    margin-left: 3%;
}


/* Need Help */
.SaS {
    position: relative;
    width: calc(100% / 12*1);
    margin-top: 7.5%;
    margin-left: -8.35%;
}

.SaS .help {
    position: relative;
    color: white;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

.SaS .hPp {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

.SaS .hTc {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

/* Get in touch */
.Contacts {
    position: relative;
    width: calc(100% / 12*1.5);
    margin-top: 3%;
    margin-left: 9%;
}

.Contacts .gIt {
    position: relative;
    color: white;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;

}

.Contacts .gtNo {
    position: relative;
    margin-top: 5%;
    margin-left: 14%;
    color: white;
    font-size: 25px;
}

.gtNo img {
    position: absolute;
    margin-left: -14%;
    width: 12%;
}

.Contacts .gtEmail {
    position: relative;
    color: white;
    margin-top: 6%;
    margin-left: 14%;
    font-size: 25px;
}

.gtEmail img {
    position: absolute;
    margin-left: -14%;
    width: 12%;
}

.Contacts .gtAdrs {
    position: relative;
    color: white;
    margin-top: 5%;
    font-size: 25px;
}
